<% title "help:" %>

<div class="row">
  <p>
    ヘルプです。
  </p>
  <p>
    See also <a href="https://github.com/jehughes/rails3-devise-bootstrap-example">https://github.com/jehughes/rails3-devise-bootstrap-example</a>
  </p>
</div>
<div class="row">
  <h5>Gem versions:</h5>
</div>
<%= render :partial => 'dashboard/partials/version' -%>

