<% title "home:" %>

<div class="row">
  <p>
    ダッシュボードです。
  </p>
  <p>
    See also <a href="https://github.com/jehughes/rails3-devise-bootstrap-example">https://github.com/jehughes/rails3-devise-bootstrap-example</a>
  </p>

  <p>
    user_01 / 123123, user_02 / 123123, ...<br/>
    admin / 123123 <br/>
    などでログインできます。
  </p>
</div>
