html, body {
  height: 100%;
}
@media (min-width: 980px) { body { padding-top: 146px; } }
.container {
  height: 100%;
  position: relative;
}

.narrow-well {
  margin: 0 auto;
  max-width: 899px;
  padding-top: 60px; /* nav bar space */
  > hr {
    margin: 30px 0;
  }
}

$FOOTTER_HEIGHT: 40px;

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-$FOOTTER_HEIGHT);
}

#push {
  height: 70px;
}

#footer {
  height: $FOOTTER_HEIGHT;
  position: relative;
  background-color: #f5f5f5;
  text-align: center;
}

h1 {
  font-size: 18px;
}