canvas#draw-area {
  border: solid 1px black;
}

#canvas {
  margin-right: 30px;
  float: left;
}

.panels {
  margin-bottom: 10px;
  float: left;
}

.panel {
  margin-left: 10px;
  margin-bottom: 10px;
}

#preview-pen {
  width:  60px;
  height: 60px;
  background-color: white;
  border: solid 1px black;
  float: left;
}
#pen {
  width: 30px;
  height: 10px;
  background-color: black;
  margin-top: 10px;  
  margin-left: 15px;  
}

.controll-button {
  cursor: pointer;
  padding: 5px 10px;
  border: solid 1px black;
}
.button-over {
  background-color: #eeeeee;
}

.clearfix {
  clear: both;
}

.pict_thumbnail{
  width:  100px;
  height: 100px;
  border: solid 2px #dddddd;
  margin: 10px 10px 10px 0;
  cursor: pointer;
}
.pict_thumbnail-over{
  border: solid 2px #333333;
}

.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.alpha {
  color: black;
}
